@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Segoe";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/segoe_ui.ttf");
}

@font-face {
  font-family: "Segoe";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/segoe_ui_bold.ttf");
}

@font-face {
  font-family: "Segoe";
  font-style: italic;
  font-weight: normal;
  src: url("./assets/fonts/segoe_ui_italic.ttf");
}

@layer base {
  html {
    font-family: "Segoe", system-ui, sans-serif;
    line-height: normal;
    font-size: 14px;
  }
}

.card {
  @apply rounded flex flex-col gap-2 content-between p-4 border-solid shadow-slate-200 shadow-md border-slate-100 border;
}
.card-full {
  @apply rounded flex gap-3 justify-between items-center py-4 px-2 border-solid border-slate-200 border;
}
